* {
  box-sizing: border-box;
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 99vh;
}

body,
#display {
  background-color: black;
}

button {
  border: none;
  border-radius: 50px;
  background-color: rgb(83, 83, 83);
  color: white;
}

.operators.pressed {
  color: rgb(255, 149, 0);
  background-color: white;
}

.wrapper {
  width: 400px;
}

#display {
  border: none;
  margin-bottom: 5px;
  width: 100%;
  text-align: right;
  height: fit-content;
  color: white;
  font-size: 2em;
  overflow-wrap: break-word;
}

.numbers {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 500px;
  margin-bottom: 25vh;
}

.buttons>*:active {
  filter: brightness(1.5);
  transform: translate3d(3px, 3px, 0);
}

.operators,
.btnEq {
  background-color: rgb(255, 149, 0);
  font-size: 50px;
}

.btnClr,
.btnNeg,
.btnPer {
  background-color: #D4D4D2;
  order: 0;
  color: black;
}

.btnDiv {
  order:6
}

.btn7 {
  order: 6;
}

.btn8 {
  order: 7;
}

.btn9 {
  order: 8;
}

.btnMul {
  order: 9;
}

.btn4 {
  order: 10;
}

.btn5 {
  order: 11;
}

.btn6 {
  order: 12;
}

.btnSub {
  order: 13;
}

.btn1 {
  order: 14;
}

.btn2 {
  order: 15;
}

.btn3 {
  order: 16;
}

.btnAdd {
  order: 17;
}

.btn0 {
  grid-column: span 2;
  order: 18;
  padding-left: 40px;
  text-align: left;
}

.btnDec {
  order: 19;
}

.btnEq {
  order: 20;
}