:root {
  --calc-color: black;
  --pad: 30px;
}

* {
  box-sizing: border-box;
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.calculator {
  padding: var(--pad);
  transform: scale(.8);
  border-radius: 50px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.wrapper {
  width: calc(400px + var(--pad) * 2);
}

#display {
  padding-left: 0;
  padding-right: 0;
  border: none;
  margin-bottom: 5px;
  width: 100%;
  text-align: right;
  height: 300px;
  color: white;
  font-size: 1.5em;
  overflow-wrap: break-word;
  overflow-x: auto;
}

@media (max-width:481px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  body {
    background-color: black;
    justify-content: flex-start;
  }

  .calculator {
    border-radius: 0;
    padding: 0 30px;
  }

  #display {
    height: 190px;
  }
} 

button {
  border: none;
  border-radius: 50px;
  background-color: rgb(83, 83, 83);
  color: white;
}

.operators.pressed {
  color: rgb(255, 149, 0);
  background-color: white;
}



.numbers {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 500px;
}

.buttons>*:active {
  filter: brightness(1.5);
  transform: translate3d(3px, 3px, 0);
}

.plus {
  font-size: 30px;
  position: relative;
  bottom: 12px;
  left: 12px;
}

.slash {
    display: inline-block;
    transform: rotate(20deg) translateX(-3px);
}

.minus {
  font-size: 35px;
  position: relative;
  top: 1px;
  right: 13px;
}

.operators,
.btnEq {
  background-color: rgb(255, 149, 0);
  font-size: 50px;
}

.btnClr,
.btnNeg,
.btnPer {
  background-color: #D4D4D2;
  order: 0;
  color: black;
}

.btnDiv {
  order:6
}

.btn7 {
  order: 6;
}

.btn8 {
  order: 7;
}

.btn9 {
  order: 8;
}

.btnMul {
  order: 9;
}

.btn4 {
  order: 10;
}

.btn5 {
  order: 11;
}

.btn6 {
  order: 12;
}

.btnSub {
  order: 13;
}

.btn1 {
  order: 14;
}

.btn2 {
  order: 15;
}

.btn3 {
  order: 16;
}

.btnAdd {
  order: 17;
}

.btn0 {
  grid-column: span 2;
  order: 18;
  padding-left: 35px;
  text-align: left;
}

.btnDec {
  order: 19;
}

.btnEq {
  order: 20;
}